/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.centratura {
  padding: 0 5%;
}

/*header------------------------------------------------------- */

/*navbar------------------------------------*/

.colore {
  /* debug */
  /*height: 350px;*/
  background-color: #0c3259;
  color:white;
  font-weight: bold;
}

a {
  text-decoration: none;
  color:white;
}

.logo {
  float: left;
  padding: 15px 50px 0px 0px;
}

.navsin {
  float: left;
}

.navdes {
  float: right;
}

.menu {
  display: inline-block;
  font-size: 15px;
}

.menudestra {
  padding: 20px;
}

.menusinistra {
  padding: 30px 20px 0px 20px;
}


.dime {
  height: 39px
}

.navdes {
  float: right;
}

.bottnav {
  width: 200px;
  height: 40px;
  border-radius: 5px;
}

.trasp {
  background-color: #0c3259;
  border: 2px solid white;
  color: white;
}

.verde {
  background-color: #7dbb02;
  border: 2px solid #7dbb02;
  color: white;
}

.grey {
  /* debug */
  height: 100px;
  background-color: grey;
}

/*navbar------------------------------------*/

/*titolo pagina-----------------------------*/

.centraturatitolo {
  padding: 0 0 0 5%;
  height: 800px;
  position: relative;
}
.struttura {
  font-size: 18px;
  width: 220px;
  height: 70px;
  border-radius: 5px;
}

h1 {
  font-size: 80px;
  padding-bottom: 30px;
}

#colonnatitolo {
  width: 40%;
  position: relative;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
}

#colonnaimmagine > #jumbo {
  position: absolute;
  bottom:0;
  right: 0;
  width: 1400px;
  height: 630px;
}


/*titolo pagina-----------------------------*/

/*header------------------------------------------------------- */




/* parte principale */
.sezione1 {
  /* debug */
  height: 300px;
  background-color: green;
}

.sezione2 {
  /* debug */
  height: 300px;
  background-color: red;
}

.sezione3 {
  /* debug */
  height: 150px;
  background-color: grey;
}
